*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: deepskyblue;
}

body{
    display: flex;
    justify-self: center;
    align-items: center;
    min-height: 100vh;
    background-color:rgb(60, 69, 78) ;
}